*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* primary - semitransparent for table bgs */
    --st-light-red: hsla(0, 100%, 67%, 0.08);
    --st-orange-yellow: hsla(39, 100%, 56%, 0.08);
    --st-green-teal: hsla(166, 100%, 37%, 0.08);
    --st-cobalt-blue: hsla(234, 85%, 45%, 0.08);

    /* gradiants */
    --bg-light-slate-blue: hsl(252, 100%, 67%);
    --bg-light-royal-blue: hsl(241, 81%, 54%);
    --circle-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-persian-blue: hsla(241, 72%, 46%, 0);

    /* neutrals */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* dark neutral - semitransparent for td text */
    --st-dark-gray-blue: hsla(224, 30%, 27%, 0.4);

    /* typography  */
    --font-wt-reg: 500;
    --font-wt-bold: 700;
    --font-wt-very-bold: 800;
}

/* general  */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif; 
    font-size: 1.125rem;
    background-color: var(--white)
}

p {     
    font-weight: var(--font-wt-reg);  
    color: var(--light-lavender);
}

h2, h3, button, table {
    font-weight: var(--font-wt-bold);
}

h2 {
    font-size: 1.3rem;  
}

.screenreader-only {
    width: 0;
    height: 0;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: 28em;    
}

/* component */
.grid-container {
    background-color: var(--white);
    box-shadow: 5px 5px 10px var(--pale-blue);
}

/* result section  */
.result {
    padding: 2em 4em; 
    background: linear-gradient(
        to top, 
        var(--bg-light-royal-blue), 
        var(--bg-light-slate-blue)
        );
    color: var(--white);
    text-align: center;    
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.score-circle {
    background: linear-gradient(
        to top, 
        var(--circle-persian-blue), 
        var(--circle-violet-blue)
    );
    width: 8em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 100%;
}

.score {
    font-size: 4rem;  
    font-weight: var(--font-wt-very-bold);
    color: var(--white);
}

.score-description {
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    font-weight: var(--font-wt-bold);
    color: var(--white);
}

/* summary section  */
.summary {
    padding: 2em;
    color: var(--dark-gray-blue);  
}

/* data table  */
table {
    text-align: left;
    table-layout: fixed;
    width: 95%;
    margin: 0 auto;
    border-collapse: separate; 
    border-spacing: 0 0.8em;      
}

th {   
    width: 65%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

th > img {
    margin-right: 0.5em;
}

td {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

th,
td {
    padding: 0.8em;
}

tbody tr:nth-child(1) > * { 
    background-color: var(--st-light-red);
}

tbody tr:nth-child(2) > * {  
    background-color: var(--st-orange-yellow);
}

tbody tr:nth-child(3) > * { 
    background-color: var(--st-green-teal);
}

tbody tr:nth-child(4) > * { 
    background-color: var(--st-cobalt-blue);
}

td > span {
    color: var(--st-dark-gray-blue);
}

.data {
    color: var(--dark-gray-blue);
}

tbody tr:nth-child(1) > th {
    color: var(--light-red);
}

tbody tr:nth-child(2) > th {
    color: var(--orange-yellow);
}

tbody tr:nth-child(3) > th {
    color: var(--green-teal);
}

tbody tr:nth-child(4) > th {
    color: var(--cobalt-blue);
}

/* button  */
.btn-continue {
    display: block;
    cursor: pointer;   
    width: 85%;
    margin: 1em auto 0 auto;    
    padding: 0.6em;
    font-size: 1.1rem;
    border: none;
    border-radius: 2em;
    color: var(--white);
    background-color: var(--dark-gray-blue);    
}

.btn-continue:hover,
.btn-continue:focus,
.btn-continue:active {
    background: linear-gradient(
        to top, 
        var(--bg-light-royal-blue), 
        var(--bg-light-slate-blue)
    );
}

/* footer */
.attribution { 
    font-size: 0.7rem;    
    text-align: center; 
    margin-top: 2em;
    color: var(--dark-gray-blue);
}

.attribution a { 
    color: var(--cobalt-blue); 
}

@media (min-width:800px) {
    .wrapper {
        width: 90%;
        max-width: 44em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 1em;        
    }

    .result {
        border-radius: 1em;
    }

    .score {
        font-size: 4.5em;
    }

    .score-circle {
        width: 170px;
    }

    .summary {
        padding-top: 30px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}